<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="/assets/images/logo.png" /> LIBREBOX</span>
        </div>
    </div>

    <div class="med-container">
      <h2 class="med-title">Validate your LibreBox</h2>
        <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong class="ng-binding">Please re-enter your seed words and passphrase in full from the previous step. This is to confirm that you have correctly recorded these down.</strong></p>
    <div class="row text-center">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <label>Seed Words/Mnenomic (leave a space between each word) *</label>
                <textarea rows=2 class="text-center form-control seed-words" placeholder="Enter Seed Words" ng-model="mnemonic"></textarea>
            </div>
            <div class="form-group">
                <label>Optional Passphrase <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="" tooltip="" data-original-title="If no passphrase was set, just leave this blank"></i></label>
                <input type="password" class="text-center form-control passphrase" ng-model="passphrase">
            </div>
        </div>
        <div class="buttons-in-column">
            <a ng-click="cancel()" class="btn btn-block">Cancel</a>
            <a ng-click="validate()" class="btn btn-success btn-block">Create LibreBox</a>
        </div>
    </div>
    </div>
</div>
